# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Vite / build
dist/
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Others
.vite/
.cache/
